<html>
	<head>
		<style>
body {
  font-size: 12px;
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border: none;
}
table td, table th {
  padding: 4 10px;
  border: none;
}
table tr:nth-child(odd) {
  background-color: #f0f0f0;
}
th {
  text-align: left;
}
		</style>
	</head>
	<body>

<h1>Scheduled Jobs</h1>

<table>
	<tr><th>Name</th><th>Status</th><th>Last run</th><th>Next run</th></tr>
{%for job in entries%}
	{% set job = job|castjob %}
	<tr>
		<td>{{job.Name}}</td>
		<td>{{job.Status}}</td>
		<td>{%if not job.Prev.IsZero%}{{job.Prev|date:"Y-m-d H:i:s"}}{%endif%}</td>
		<td>{%if not job.Next.IsZero%}{{job.Next|date:"Y-m-d H:i:s"}}{%endif%}</td>
	</tr>
{% endfor %}
</table>
